 body {
 background-image: linear-gradient(120deg,#dff5e0, #9feba3 );
}
.mt-5 p-4 bg-light{
  background-image:linear-gradient(#dff5e0);
}
h1 {
  color:rgb(0, 0, 0);
  font-family :cursive;
}
h1.pr {
  font-style: italic;
}
p {
  font-family: Arial, Helvetica, sans-serif;
 
}
p.pro{
  color: aliceblue;
}
p.card-text{
  color: aliceblue;
}
.card{
  margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}